/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Old+Standard+TT:ital@0;1&display=swap');

/* custom properties */
:root {
    --off-white: #f2f2f2;
    --black: rgba(0, 0, 16, 0.8);
    --blue: #0365c0;
    --green: #00cc4f;
    --orange: #ffb144;
    --disabled: rgba(0, 0, 16, 0.3);
    --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}

/* resets */

body, html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--off-white);
    font-family: 'Lato', sans-serif;
    color: var(--black);
}

header {
    background: var(--blue);
    color: var(--off-white);
    font-size: 2rem;
    padding: .5em 1em;
    font-weight: 700;
}

/* main-container */
.container {
    padding: 1em 2em;
}

/* filters */
.card {
    display: flex;
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: .3em;
}

.filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}

.filter-card {
    padding: .8em;
}

.filter-container {
    padding: .4em .8em;
}

.filter-text {
    color: var(--black);
    font-size: 1.3rem;
    padding: .3em;
}

.filter {
    background: var(--black);
    padding: .2em .2em .1em .2em;
    border: 4px solid var(--blue);
    border-radius: 2em;
}

.filter-form {
    display: flex;
    align-items: center;
    margin: 0;
}

.filter-all-text {
    font-size: 2rem;
    padding: .25em .5em;
    color: var(--off-white);
}

svg {
    fill: var(--off-white);
    height: 2rem;
    width: 2rem;
    margin: .5em .3em;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.filter-all-text,
svg {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.filter-all:checked + span,
.filter-all-text:hover,
.filter-all-text:focus {
    color: var(--blue);
}

.beer-svg:hover,
.beer-svg:checked + svg,
.beer-svg:focus {
    fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
    fill: var(--green);
}

/* page buttons */
.page-btn {
    border: none;
    background: transparent;
    outline: none;
    font-size: 2rem;
    padding: .24em .4em;
    color: var(--off-white);
    cursor: pointer;
    transition: color 0.3s ease;
}

.page-btn svg {
    margin: 0;
}

.page-btn:hover,
.page-btn:focus {
    color: var(--blue);
}

.page-btn:disabled {
    cursor: default;
    color: var(--disabled);
}

/* beer styles */
.beers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
}

.beer-wrapper {
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.beer {
    display: grid;
    grid-auto-columns: 1fr;
    align-items: end;
    text-align: center;
    padding: 1em;
    width: 100%;
}

.beer-img {
    margin: auto;
    height: 20em;
}

.beer-info {
    display: flex;
    justify-content: space-between;
}

.beer-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    /* Since .beer-content is a hover overlay with position: absolute if width & height are 100% 
    it'll be far too big. Hence using calc(100% - left&right padding) gets it exact */
    width: calc(100% - (1.5em * 2));
    height: calc(100% - (1.5em * 2));
    background: white;
    /* ensures that when content doesn't fit card a scrollbar appears on the right */
    overflow: auto;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease-in;
}

.beer-content:hover,
.beer-content:focus {
    opacity: 0.9;
}

.beer-name {
    margin: 0 auto 0.5em;
    font-size: 2.4rem;
    font-family: 'Old Standard TT', serif;
    font-weight: lighter;
    line-height: 1.1;
    letter-spacing: -1px;
}

.beer-tagline {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 0.5em;
    border-bottom: solid 2px var(--blue);
}

.beer-description,
.beer-pairings {
    margin: 1em 0;
    font-size: 0.9rem;
    line-height: 1.3;
}

.beer-pairings {
    font-style: italic;
}